.ham-menu-wrap {
    position: absolute;
    right: 0;
    top: 0;
}


/* POSITIONING THE HAMBURGER AND THE TOGGLER */

.hamburger,
.toggler {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.toggler {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}


/* CREATING THE HAMBURGER MENU */

.hamburger {
    border: 2px solid hsl(273, 4%, 51%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger>div {
    position: relative;
    background-color: hsl(273, 4%, 51%);
    width: 60%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.hamburger>div::after,
.hamburger>div::before {
    /* display: block; */
    content: '';
    background-color: hsl(273, 4%, 51%);
    width: 100%;
    height: 2px;
    position: absolute;
    top: -10px;
}

.hamburger>div::after {
    top: 10px;
}


/* TOGGLED STATES: ANIMATING THE HAMBURGER TO CROSS CONVERSION */

.toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.toggler:checked+.hamburger>div::before,
.toggler:checked+.hamburger>div::after {
    top: 0;
    transform: rotate(90deg);
}


/* ROTATE ON HOVER WHEN CHECKED */

.toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* STYLING THE MENU */

.ham-menu-wrap .menu {
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;
    background-color: hsl(270, 9%, 17%);
    color: white;
    text-transform: uppercase;
    font-family: 'Karla', serif;
    font-size: 25px;
    visibility: hidden;
}


/* BACKGROUND PATTERN */

.bg-pattern-mobile-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* MENU LIST ITEMS */

.nav-ham-list {
    list-style-type: none;
}

.nav-ham-list>li {
    margin: 40px 0;
}

.nav-ham-list>li:last-child {
    border: 2px solid white;
    padding: 10px 90px;
}


/* CURSOR HOVER STATES */

.nav-ham-list>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-ham-list>li:last-child:hover {
    color: hsl(270, 9%, 17%);
    background-color: #fff;
    text-decoration: none;
}


/* SHOW MENU WHEN TOGGLED */

.toggler:checked~.menu {
    visibility: visible;
}